@model DTO.ViewModels.SorterNameViewModel
<div class="text-center">
    <h1 class="display-4">Name Sorter</h1>
    <p>Created by Hendi dwi Purwanto.</p>
</div>
<form asp-action="Process" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="custom-file">
                        <input type="file" asp-for="TextFile" class="custom-file-input">
                        <label class="custom-file-label" for="TextFile">upload Unsorted *.txt file here</label>
                    </div>
                </div>
                <div class="form-group">
                    <input style="width:100%;" type="submit" class="btn btn-success" value="Process to Sort!" />

                </div>

            </div>



           
        </div>

    </div>
    <div id="modal-section"></div>
</form>
@section Scripts
{

    <script src="~/js/uploadFile.js"></script>

}

