@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Name Sorter</h1>
    <p>Created by Hendi dwi Purwanto.</p>
</div>
<form >

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <div class="card-header">
                            Before Sort!
                        </div>
                        <div class="card-text">
                            <div class="form-group">

                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="40"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-primary">Upload File</button>
                <button type="submit" class="btn btn-success">Process to Sort!</button>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <div class="card-header">
                            After Sort!
                        </div>
                        <div class="card-text">
                            <div class="form-group">

                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="40"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</form>


