@model Web.ViewModels.SorterNameViewModel

<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog"
     aria-labelledby="createModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="modal-title" id="createModal">Upload unsorterName txt file</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card mb-4">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">

                    </div>
                    <div class="card-body">
                        <form id="create_Form" enctype="multipart/form-data" method="post">
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                
                                <label for="TextFile">Upload Unsorted txt file!</label>
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input type="file" asp-for="TextFile" class="custom-file-input">
                                        <label class="custom-file-label" for="TextFile">Click browse to upload the file</label>
                                    </div>
                                    <div class="input-group-append">
                                        <span class="input-group-text bg-primary" style="border-color:white!important">Upload</span>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>


                <div class="modal-footer">

                    <button id="save" type="submit" class="btn btn-primary">Submit!</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
   
    <script>
    $(document).ready(function () {
        $('.custom-file-input').on('change', function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).next('.custom-file-label').html(fileName);
        })
    });


    $('#save').click(function () {
        $("#create_Form").submit();
    });



    $("#create_Form").submit(function (e) {
        e.preventDefault();
        var request = new FormData(this);
        console.log(request);
        var antiForgeryToken = $('input[name="__RequestVerificationToken"]').val();
        $.ajax({
            url: '/Home/Process',
            method: 'POST',
            data: request,
            cache: false,
            contentType: false,
            processData: false,
            headers: {
                '__RequestVerificationToken': antiForgeryToken
            },
            success: function (response) {




                $("#modal-section").html("");
                if (response === "succeed") {

                    swal({
                        title: "Berhasil disimpan!",
                        text: "Apakah Anda ingin melihat DATA terbaru Anda?",
                        type: "success",
                        showCancelButton: true,
                        confirmButtonColor: "#dc3545",
                        confirmButtonText: "YA",
                        cancelButtonText: "Tidak",
                        closeOnConfirm: false,
                        closeOnCancel: false
                    }, function (isConfirm) {
                        if (isConfirm) {
                            location.reload();
                        } else {
                            swal.close();
                        }
                    });

                } else {
                    swal({
                        title: "Gagal disimpan!",
                        text: "Apakah Anda ingin kembali ke TABEL sebelumnya?",
                        type: "error",
                        showCancelButton: true,
                        confirmButtonColor: "#dc3545",
                        confirmButtonText: "YA",
                        cancelButtonText: "Tidak",
                        closeOnConfirm: false,
                        closeOnCancel: false
                    }, function (isConfirm) {
                        if (isConfirm) {
                            location.reload();
                        } else {
                            location.reload();
                        }
                    });


                }
            },
            fail: function (xhr, textStatus, errorThrown) {

            }
        });
    });

    </script>
